@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar{
    width: 18px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
    margin-block: .3rem;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(160, 160, 160);
    border: 5px solid white;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(97, 97, 97);
}
  
/* NavBar */
.nav_bar{
    height: 10vh;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.nav_logo a{
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 2rem;
    color: black;
    text-decoration: none;
}

.container_links{
    display: flex;
    width: 60%;
    justify-content: space-around;
    list-style: none;
}

.nav_links a{
    text-decoration: none;
    color: black;
}

.nav_links a:hover{
    transition: .4s;
    color: rgb(6, 175, 175);
}

.burger{
    display: none;
    cursor: pointer;
  }
  
.burger div{
    width:25px;
    height: 2px;
    background-color: grey;
    margin: 5px;
    transition: all 0.25s ease-in-out;
}  
/* Home */

.container-section{
    height: 90vh;
    display: flex;
    align-items: center;
    margin-bottom:13rem ;
}

.banner_home{
    background-color: rgba(230,229,227,255);
    max-height: 100%;
    max-width: 550px;
}

.banner_home img{
    max-width: 100%;
}

.home_content{
    margin-left: 5rem;
}

.home_content p{
    font-size: 1.2rem;
}

.home_content h1{
    font-size: 4rem;
    margin: 1rem 0;
}

.home_content span{
    color: rgb(3, 97, 97);
}

.btn-1{
    font-size: 0.9rem;
    padding: 1rem 2rem;
    border: 2px solid rgb(3, 97, 97);
    background-color: transparent;
    cursor: pointer;
}
.btn-1:hover{
    transition: 0.2s;
    background-color: rgba(235, 235, 235, 0.527);
}

/* Promotion */
.container_promotions{
    margin: 8rem 0;
    text-align: center;
    padding: 5rem 0;
    background-color: rgb(3, 97, 97);
    color: white;
}

.container_promotions h2{
    margin-bottom: 1rem;
}

.container_promotions p{
    margin-bottom: 1rem;
}

.container_promotions span{
    margin-left: 5px;
}

.container_promotions button{
    cursor: pointer;
    font-size: 1rem;
    height: 50px;
    padding: 0 3rem;
    background-color: #d8e0fd;
    border: none;
}

.container_promotions button:hover{
    background-color: #c2cffc;
    transition: 0.2s ;
}

/* Cards */

.container_cards{
    display: grid;
    justify-content: center;
    gap: 4rem;
}

.cards{
    display: flex;
    align-items: center;
    width: 90%;
    margin:0 auto ;
}

.cards img{
    max-width: 100%;
    width: 500px;
}

.card_content{
    margin: 0 2rem;
}

.card_content h3{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.card_content p{
    font-size: 1.2re1;
    margin-bottom: 1rem;
}

.d-none{
    display: none;
}

.btn-2{
    padding: 0.5rem 3rem;
    font-size: 0.9rem;
    background-color: rgb(6, 175, 175);
    border: 1px solid rgb(6, 175, 175);
    color: white;
    cursor: pointer;
}

.btn-2:hover{
    transition: 0.5s;
    background-color: transparent;
    color: black;
}

/* About */

.container_about{
    display: flex;
    justify-content: space-around;
    margin: 8rem 5rem;
    padding: 5rem;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(216, 216, 216, 0.377);
}

.about_img{
    max-height: 500px;
    max-width: 500px;
    min-width: 100px;
}

.about_content{
    max-width: 500px;
    
}

.about_content h3{
    font-size: 1.5rem;
}

.about_content p{
    margin: 1.3rem 0;
}

/* Location and Form */
.mapa {
    margin: 8rem 0;
  }
  
.contact-in {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
}
  
.contact-map {
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

.contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
}

.contact-form h3{
    margin-bottom: 10px;
}
  
.contact-form-txt {
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txt::placeholder {
    color: #aaa;
}

.contact-form-textarea {
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    resize: none;
    font-family: "Poppins", sans-serif;
}

.contact-form-textarea::placeholder {
    color: #aaa;
}
  
.contact-form .btn-2{
    padding: 1rem 3rem;
}
/* Footer */
.footer {
    width: 100%;
    display: flex;
    background-color: rgb(242, 240, 240);
    padding: 20px;
  }
  
  .footer-row {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .footer-col {
    font-size: 1.05rem;
    margin: 0 1rem 1rem 1rem;
  }
  
  .footer-col p {
    color: #000;
    font-weight: initial;
    margin: 0;
  }
  
  .footer-col a {
    color: #000;
    text-decoration: none;
  }
  
  .footer-col h4 {
    font-size: 1.1rem;
    color: black;
    margin-bottom: 35px;
    position: relative;
  }
  
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(3, 97, 97);
    height: 2px;
    box-sizing: border-box;
    width: 100px;
  }
  
  .footer-col li {
    padding-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    transition: 0.25s linear;
  }
  
  .footer-col li:hover {
    transform: translate(8px);
  }
  
  .footer-col a:hover {
    color: grey;
  }
  
  .social-links i {
    width: 40px;
    height: 30px;
  }
  
  .copy { /* Copyright */
    text-align: center;
    color: grey;
    margin: 2rem 0;
  }


@media (max-width:860px) {
    /* NavBar */
    .nav_bar{
        justify-content: space-around;
    }

    .container_links{
        opacity: 0;
        position: absolute;
        display: grid;
        padding-top: 5rem;
        text-align: center;
        background-color: rgb(219, 219, 219);
        top: 10vh;
        height: 90vh;
        width: 100%;
    }

    .nav-active{
        opacity: 1;
        transition: .2s;
    }

    .burger{
        transition: all ease-out 0.3s;
        display: block;
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,5px);
    }
      
    .toggle .line2{
        opacity: 0;
    }
      
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-5px);
    }

    /* Card */
    .d-none{
        display: initial;
    }

    .d-active{
        display: none;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .card_content h3{
        margin-top: 2rem;
    }

    /* About */

    .container_about{
    padding: 2rem;
    }

    .container_about{
        margin: 8rem 1rem;
    }

}

@media (max-width:992px) {
    .banner_home{
        display: none;
    }

    .container-section{
        background-image: url(images/smile\ mountain.jpg);
    }

    
}

@media (max-width:1044px) {

    .container_about img{
        margin-bottom: 2rem;
    }
}
